.partner-logo-grid__list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 32px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .partner-logo-grid__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1025px) {
  .partner-logo-grid--cols-2 .partner-logo-grid__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .partner-logo-grid--cols-3 .partner-logo-grid__list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* Default or explicit 4 Column fallback */
  .partner-logo-grid--cols-4 .partner-logo-grid__list {
    grid-template-columns: repeat(4, 1fr);
  }
}

.partner-logo-grid__item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.partner-logo-grid__link {
  text-decoration: none;
}

.partner-logo-grid__link:hover>* {
  opacity: 0.7;
}

.partner-logo-grid__image {
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
  filter: brightness(0) invert(1);
}