/* Funnel Sans Fonts */
@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-light.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-light-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-light-italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-regular.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-medium.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-medium-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-medium-italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-semi-bold.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-semi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-semi-bold-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-semi-bold-italic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-bold.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-bold-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-bold-italic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-extra-bold.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-extra-bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funnel Sans';
    src: url('../fonts/funnel-sans/woff2/funnel-sans-extra-bold-italic.woff2') format('woff2'), url('../fonts/funnel-sans/ttf/funnel-sans-extra-bold-italic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}