
/* -------- AEM EDS FOUNDATION TOKENS - EDS Compatible (Pure CSS - No SCSS) -------- */
:root {
/* -------- Font family -------- */
  --funnel-font-family: 'Funnel Sans', sans-serif;

/* -------- Colors -------- */

  --color-primary-midnight: #161916;
  --color-primary-morning-white: #fff;
  --color-primary-coral: #ff555f;
  --color-primary-sunrise-gold: #ffad28;
  --color-secondary-first-light-01: #444744;
  --color-secondary-first-light-02: #6d706b;
  --color-secondary-first-light-03: #adb1ac;
  --color-secondary-sunrise-white: #fffaf4;
  --color-secondary-sunrise-cream: #fff2df;
  --color-evening-800: #c0c0c0;

/* -------- Font weights -------- */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

/* -------- Breakpoint Tokens (Documentation + JS usage) -------- */
  --bp-phone: 320px;
  --bp-phone-lg: 375px;
  --bp-phone-xl: 472px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --bp-navigation: 1085px;
  --bp-desktop-lg: 1200px;
  --bp-desktop-lg-2: 1300px;
  --bp-stat-block-wrap: 1325px;
  --bp-desktop-lg-3: 1400px;

  /* --- Fluid Spacing Scale (Mobile First Defaults) --- */
  --space-xxs: 8px;
  --space-xs: 20px;
  --space-s: 20px;
  --space-m: 30px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-xxl: 96px;
  --space-section: 96px;

  /* --- Heading font (Mobile First Defaults) --- */
  --heading-xl-font-size: 48px;
  --heading-xl-line-height: 52px;
  --heading-l-font-size: 48px;
  --heading-l-line-height: 56px;
  --heading-m-font-size: 32px;
  --heading-m-line-height: 40px;
  --heading-s-font-size: 28px;
  --heading-s-line-height: 32px;
  --heading-xs-font-size: 24px;
  --heading-xs-line-height: 28px;
  --heading-xxs-font-size: 14px;
  --heading-xxs-line-height: 16px;
  --heading-stat-font-size: 64px;
  --heading-stat-line-height: 76px;

  /* --- Body font (Mobile First Defaults) --- */
  --body-xxl-font-size: 32px;
  --body-xxl-line-height: 40px;
  --body-xl-font-size: 24px;
  --body-xl-letter-spacing: 0.72px;
  --body-xl-line-height: 32px;
  --body-xl-font-weight: 300;
  --body-l-font-size: 20px;
  --body-l-letter-spacing: 0.72px;
  --body-l-line-height: 30px;
  --body-m-font-size: 20px;
  --body-m-letter-spacing: 0.6px;
  --body-m-line-height: 28px;
  --body-s-font-size: 18px;
  --body-s-letter-spacing: 0.54px;
  --body-s-line-height: 24px;
  --body-xs-font-size: 14px;
  --body-xs-letter-spacing: 0.42px;
  --body-xs-line-height: 20px;
  --body-xxs-font-size: 14px;
  --body-xxs-letter-spacing: 0.42px;
  --body-xxs-line-height: 18px;

  /* --- Label font (Mobile First Defaults) --- */
  --label-m-font-size: 20px;
  --label-m-letter-spacing: 0.6px;
  --label-m-line-height: 24px;
  --label-s-font-size: 16px;
  --label-s-letter-spacing: 0.48px;
  --label-s-line-height: 20px;
  --label-xs-font-size: 14px;
  --label-xs-letter-spacing: 0.42px;
  --label-xs-line-height: 16px;
  --label-xxs-font-size: 12px;
  --label-xxs-letter-spacing: 0.36px;
  --label-xxs-line-height: 16px;
}

/* >tablet */
@media (width >= 768px) { 
  :root {
    /* --- Heading font (Tablet) --- */
    --heading-xl-font-size: 84px;
    --heading-xl-line-height: 84px;
    --heading-l-font-size: 64px;
    --heading-l-line-height: 71px;
    --heading-m-font-size: 40px;
    --heading-m-line-height: 48px;
    --heading-s-font-size: 32px;
    --heading-s-line-height: 40px;

    /* --- Body font (Tablet) --- */
    --body-xxl-font-size: 36px;
    --body-xxl-line-height: 44px;
    --body-xl-font-size: 32px;
    --body-xl-letter-spacing: 0.96px;
    --body-xl-line-height: 40px;
    --body-l-font-size: 24px;
    --body-l-line-height: 32px;
    --body-xs-font-size: 16px;
    --body-xs-letter-spacing: 0.48px;
    --body-xs-line-height: 24px;

    /* --- Label font (Tablet) --- */
    --label-xs-line-height: 20px;

    /* --- Fluid Spacing Scale (Tablet) --- */
    --space-xxs: 10px;
    --space-s: 24px;
    --space-m: 40px;
    --space-l: 48px;
    --space-xl: 60px;
  }
}

/* >Small desktop */
@media (width >= 1025px) { 
  :root {
    --space-section: 120px;
  }
}

/* >desktop */
@media (width >= 1200px) { 
  :root {
    /* --- Heading font (Desktop) --- */
    --heading-m-font-size: 48px;
    --heading-m-line-height: 56px;
    --heading-s-font-size: 36px;
    --heading-s-line-height: 44px;
    --heading-xxs-font-size: 20px;
    --heading-xxs-line-height: 28px;
    --heading-stat-font-size: 96px;
    --heading-stat-line-height: 106px;

    /* --- Body font (Desktop) --- */
    --body-xl-font-weight: 400;
  }
}
 

body {
  display: none;
  margin: 0;
  background-color: var(--color-primary-midnight, #000);
  color: var(--color-sunrise-white, #fff);
  font-family: var(--funnel-font-family);
  font-size: var(--body-xs-font-size);
  line-height: var(--body-xs-line-height);
}

body.appear {
  display: block;
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--funnel-font-family);
  font-style: normal;
  color: #fff;
  scroll-margin: 40px;
  margin-top: 22px;
  margin-bottom: 22px;
}

h1 {
  font-weight: var(--fw-bold);
  font-size: var(--heading-xl-font-size);
  line-height: var(--heading-xl-line-height);
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--heading-l-font-size);
  line-height: var(--heading-l-line-height);
  margin: 20px 0; 
}

h3 {
  font-weight: var(--fw-bold);
  font-size: var(--heading-m-font-size);
  line-height: var(--heading-m-line-height);
}

h4 {
  font-weight: var(--fw-semibold);
  font-size: var(--heading-s-font-size);
  line-height: var(--heading-s-line-height);
}

h5 {
  font-weight: var(--fw-semibold);
  font-size: var(--heading-xs-font-size);
  line-height: var(--heading-xs-line-height);
}

h6 {
  font-weight: var(--fw-regular); 
  font-size: var(--heading-xxs-font-size);
  line-height: var(--heading-xxs-line-height);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 16px;
  margin-bottom: 16px;
}

code,
pre {
  font-size: var(--body-xs-font-size);
  line-height: var(--body-xs-line-height);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-sunrise-cream);
  overflow-x: auto;
  white-space: pre;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--color-sunrise-white);
  text-decoration: none;
  overflow-wrap: break-word;
}

a:hover {
  color: var(--color-sunrise-white);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--funnel-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: #ff4f59;
  color: #161916;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 2px solid #ff4f59;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  background-color: #ff727a;
  border-color: #ff727a;
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--color-first-light-03);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: transparent;
  border: 2px solid #ff4f59;
  color: #ff4f59;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--color-first-light-01);
  margin: 0;
  padding: 40px 0;
}

.genpact-intelligence p
{
  color: #fff;
}

.genpact-intelligence h2
{
  margin-top: 0;
  margin-bottom:24px;
}

.genpact-intelligence h2::after
{
  background: linear-gradient(var(--fade-direction,90deg),transparent,var(--transition-point-start,25%),#fff2df,var(--transition-point-end,75%),transparent);
  content: "";
  display: block;
  height: 2px;
  margin-top: 20px;
  max-width: 300px;
  opacity: .15;
}

@media (width >= 769px) {
  .genpact-intelligence h2::after {
    margin-top: 24px;
    max-width: 464px;
  }
}

.genpact-intelligence .cards-wrapper
{
  margin-top: 30px;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

 /* -------- utilities -------- */
  
/* Text alignments */
.text-left   { --block-text-align: left; }
.text-center { --block-text-align: center; }
.text-right  { --block-text-align: right; }


/* Font weights  */
.fw-light    { --block-fw: var(--fw-light); }
.fw-regular  { --block-fw: var(--fw-regular); }
.fw-medium   { --block-fw: var(--fw-medium); }
.fw-semibold { --block-fw: var(--fw-semibold); }
.fw-bold     { --block-fw: var(--fw-bold); }

/* Text colors */
.text-midnight {
  --block-text-color: var(--color-primary-midnight);
}

.text-morning-white {
  --block-text-color: var(--color-primary-morning-white);
}

.text-coral {
  --block-text-color: var(--color-primary-coral);
}

.text-sunrise-gold {
  --block-text-color: var(--color-primary-sunrise-gold);
}

.text-first-light-01 {
  --block-text-color: var(--color-secondary-first-light-01);
}

.text-first-light-02 {
  --block-text-color: var(--color-secondary-first-light-02);
}

.text-first-light-03 {
  --block-text-color: var(--color-secondary-first-light-03);
}

.text-sunrise-white {
  --block-text-color: var(--color-secondary-sunrise-white);
}

.text-sunrise-cream {
  --block-text-color: var(--color-secondary-sunrise-cream);
}

.text-evening-800 {
  --block-text-color: var(--color-evening-800);
}

/* Background colors */

.bg-midnight {
  --block-bg-color: var(--color-primary-midnight);
}

.bg-morning-white {
  --block-bg-color: var(--color-primary-morning-white);
}

.bg-coral {
  --block-bg-color: var(--color-primary-coral);
}

.bg-sunrise-gold {
  --block-bg-color: var(--color-primary-sunrise-gold);
}

.bg-first-light-01 {
  --block-bg-color: var(--color-secondary-first-light-01);
}

.bg-first-light-02 {
  --block-bg-color: var(--color-secondary-first-light-02);
}

.bg-first-light-03 {
  --block-bg-color: var(--color-secondary-first-light-03);
}

.bg-sunrise-white {
  --block-bg-color: var(--color-secondary-sunrise-white);
}

.bg-sunrise-cream {
  --block-bg-color: var(--color-secondary-sunrise-cream);
}

/* --- Heading Text Utilities --- */
.text-heading-xl {
  --heading-font-weight: var(--fw-bold);
  --heading-font-size: var(--heading-xl-font-size);
  --heading-line-height: var(--heading-xl-line-height);
}

.text-heading-l {
  --heading-font-weight: var(--fw-bold);
  --heading-font-size: var(--heading-l-font-size);
  --heading-line-height: var(--heading-l-line-height);
}

.text-heading-m {
  --heading-font-weight: var(--fw-bold);
  --heading-font-size: var(--heading-m-font-size);
  --heading-line-height: var(--heading-m-line-height);
}

.text-heading-s {
  --heading-font-weight: var(--fw-semibold);
  --heading-font-size: var(--heading-s-font-size);
  --heading-line-height: var(--heading-s-line-height);
}

.text-heading-xs {
  --heading-font-weight: var(--fw-semibold);
  --heading-font-size: var(--heading-xs-font-size);
  --heading-line-height: var(--heading-xs-line-height);
}

.text-heading-xxs {
  --heading-font-weight: var(--fw-regular); 
  --heading-font-size: var(--heading-xxs-font-size);
  --heading-line-height: var(--heading-xxs-line-height);
}

.text-heading-stat {
  --heading-font-weight: var(--fw-bold);
  --heading-font-size: var(--heading-stat-font-size);
  --heading-line-height: var(--heading-stat-line-height);
}

/* --- Body Text Utilities --- */
.text-body-xxl {
  --body-font-weight: var(--fw-regular);
  --body-font-size: var(--body-xxl-font-size);
  --body-line-height: var(--body-xxl-line-height);
}

.text-body-xl {
  --body-font-weight: var(--body-xl-font-weight);
  --body-font-size: var(--body-xl-font-size);
  --body-letter-spacing: var(--body-xl-letter-spacing);
  --body-line-height: var(--body-xl-line-height);
}

.text-body-l {
  --body-font-weight: var(--fw-light);
  --body-font-size: var(--body-l-font-size);
  --body-letter-spacing: var(--body-l-letter-spacing);
  --body-line-height: var(--body-l-line-height);
}

.text-body-m {
  --body-font-weight: var(--fw-regular);
  --body-font-size: var(--body-m-font-size);
  --body-letter-spacing: var(--body-m-letter-spacing);
  --body-line-height: var(--body-m-line-height);
}

.text-body-s {
  --body-font-weight: var(--fw-bold);
  --body-font-size: var(--body-s-font-size);
  --body-letter-spacing: var(--body-s-letter-spacing);
  --body-line-height: var(--body-s-line-height);
}

.text-body-xs {
  --body-font-weight: var(--fw-regular);
  --body-font-size: var(--body-xs-font-size);
  --body-letter-spacing: var(--body-xs-letter-spacing);
  --body-line-height: var(--body-xs-line-height);
}

.text-body-xxs {
  --body-font-weight: var(--fw-regular);
  --body-font-size: var(--body-xxs-font-size);
  --body-letter-spacing: var(--body-xxs-letter-spacing);
  --body-line-height: var(--body-xxs-line-height);
}

/* --- Label Text Utilities --- */
.text-label-m {
  --label-font-weight: var(--fw-medium);
  --label-font-size: var(--label-m-font-size);
  --label-letter-spacing: var(--label-m-letter-spacing);
  --label-line-height: var(--label-m-line-height);
}

.text-label-s {
  --label-font-weight: var(--fw-bold);
  --label-font-size: var(--label-s-font-size);
  --label-letter-spacing: var(--label-s-letter-spacing);
  --label-line-height: var(--label-s-line-height);
}

.text-label-xs {
  --label-font-weight: var(--fw-medium);
  --label-font-size: var(--label-xs-font-size);
  --label-letter-spacing: var(--label-xs-letter-spacing);
  --label-line-height: var(--label-xs-line-height);
}

.text-label-xxs {
  --label-font-weight: var(--fw-medium);
  --label-font-size: var(--label-xxs-font-size);
  --label-letter-spacing: var(--label-xxs-letter-spacing);
  --label-line-height: var(--label-xxs-line-height);
}

/* --- Text transformation --- */
.transform-uppercase {
  --text-transform: uppercase;
}

.transform-lowercase {
  --text-transform: lowercase;
}

.transform-capitalize {
  --text-transform: capitalize;
}

/* --- Top Padding Utilities --- */
.mt-xxs     { padding-top: var(--space-xxs); }
.mt-xs      { padding-top: var(--space-xs); }
.mt-s       { padding-top: var(--space-s); }
.mt-m       { padding-top: var(--space-m); }
.mt-l       { padding-top: var(--space-l); }
.mt-xl      { padding-top: var(--space-xl); }
.mt-xxl     { padding-top: var(--space-xxl); }
.mt-section { padding-top: var(--space-section); }

/* --- Bottom Padding Utilities --- */
.mb-xxs     { padding-bottom: var(--space-xxs); }
.mb-xs      { padding-bottom: var(--space-xs); }
.mb-s       { padding-bottom: var(--space-s); }
.mb-m       { padding-bottom: var(--space-m); }
.mb-l       { padding-bottom: var(--space-l); }
.mb-xl      { padding-bottom: var(--space-xl); }
.mb-xxl     { padding-bottom: var(--space-xxl); }
.mb-section { padding-bottom: var(--space-section); }