 /* -------- utilities -------- */
  
/* Text alignments */
.text-left   { --block-text-align: left; }
.text-center { --block-text-align: center; }
.text-right  { --block-text-align: right; }


/* Font weights  */
.fw-light    { --block-fw: var(--fw-light); }
.fw-regular  { --block-fw: var(--fw-regular); }
.fw-medium   { --block-fw: var(--fw-medium); }
.fw-semibold { --block-fw: var(--fw-semibold); }
.fw-bold     { --block-fw: var(--fw-bold); }

/* Text colors */
.text-midnight-black { --block-text-color: var(--color-midnight-black); }
.text-first-light-01 { --block-text-color: var(--color-first-light-01); }
.text-first-light-02 { --block-text-color: var(--color-first-light-02); }
.text-first-light-03 { --block-text-color: var(--color-first-light-03); }
.text-sunset-orange { --block-text-color: var(--color-sunset-orange); }
.text-genpact-coral { --block-text-color: var(--color-genpact-coral); }
.text-sunrise-cream { --block-text-color: var(--color-sunrise-cream); }
.text-sunrise-white { --block-text-color: var(--color-sunrise-white); }
.text-morning-white { --block-text-color: var(--color-morning-white); }

/* Background colors */
.bg-midnight-black { --block-bg-color: var(--color-midnight-black); }
.bg-first-light-01 { --block-bg-color: var(--color-first-light-01); }
.bg-first-light-02 { --block-bg-color: var(--color-first-light-02); }
.bg-first-light-03 { --block-bg-color: var(--color-first-light-03); }
.bg-sunset-orange { --block-bg-color: var(--color-sunset-orange); }
.bg-genpact-coral { --block-bg-color: var(--color-genpact-coral); }
.bg-sunrise-cream { --block-bg-color: var(--color-sunrise-cream); }
.bg-sunrise-white { --block-bg-color: var(--color-sunrise-white); }
.bg-morning-white { --block-bg-color: var(--color-morning-white); }

/* --- Heading Text Utilities --- */
.text-heading-xl{
  font-weight: var(--fw-bold);
  font-size: var(--heading-xl-font-size);
  line-height: var(--heading-xl-line-height);
}

.text-heading-l{
  font-weight: var(--fw-bold);
  font-size: var(--heading-l-font-size);
  line-height: var(--heading-l-line-height);
}

.text-heading-m{
  font-weight: var(--fw-bold);
  font-size: var(--heading-m-font-size);
  line-height: var(--heading-m-line-height);
}

.text-heading-s{
  font-weight: var(--fw-semibold);
  font-size: var(--heading-s-font-size);
  line-height: var(--heading-s-line-height);
}

.text-heading-xs{
  font-weight: var(--fw-semibold);
  font-size: var(--heading-xs-font-size);
  line-height: var(--heading-xs-line-height);
}

.text-heading-xxs{
  font-weight: var(--fw-regular); 
  font-size: var(--heading-xxs-font-size);
  line-height: var(--heading-xxs-line-height);
}

.text-heading-stat{
  font-weight: var(--fw-bold);
  font-size: var(--heading-stat-font-size);
  line-height: var(--heading-stat-line-height);
}

/* --- Body Text Utilities --- */
.text-body-xxl {
  font-weight: var(--fw-regular);
  font-size: var(--body-xxl-font-size);
  line-height: var(--body-xxl-line-height);
}

.text-body-xl {
  font-weight: var(--body-xl-font-weight);
  font-size: var(--body-xl-font-size);
  letter-spacing: var(--body-xl-letter-spacing);
  line-height: var(--body-xl-line-height);
}

.text-body-l {
  font-weight: var(--fw-light);
  font-size: var(--body-l-font-size);
  letter-spacing: var(--body-l-letter-spacing);
  line-height: var(--body-l-line-height);
}

.text-body-m {
  font-weight: var(--fw-regular);
  font-size: var(--body-m-font-size);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
}

.text-body-s {
  font-weight: var(--fw-bold);
  font-size: var(--body-s-font-size);
  letter-spacing: var(--body-s-letter-spacing);
  line-height: var(--body-s-line-height);
}

.text-body-xs {
  font-weight: var(--fw-regular);
  font-size: var(--body-xs-font-size);
  letter-spacing: var(--body-xs-letter-spacing);
  line-height: var(--body-xs-line-height);
}

.text-body-xxs {
  font-weight: var(--fw-regular);
  font-size: var(--body-xxs-font-size);
  letter-spacing: var(--body-xxs-letter-spacing);
  line-height: var(--body-xxs-line-height);
}

/* --- Label Text Utilities --- */
.text-label-m {
  font-weight: var(--fw-medium);
  font-size: var(--label-m-font-size);
  letter-spacing: var(--label-m-letter-spacing);
  line-height: var(--label-m-line-height);
}

.text-label-s {
  font-weight: var(--fw-bold);
  font-size: var(--label-s-font-size);
  letter-spacing: var(--label-s-letter-spacing);
  line-height: var(--label-s-line-height);
}

.text-label-xs {
  font-weight: var(--fw-medium);
  font-size: var(--label-xs-font-size);
  letter-spacing: var(--label-xs-letter-spacing);
  line-height: var(--label-xs-line-height);
}

.text-label-xxs {
  font-weight: var(--fw-medium);
  font-size: var(--label-xxs-font-size);
  letter-spacing: var(--label-xxs-letter-spacing);
  line-height: var(--label-xxs-line-height);
}

/* --- Top Padding Utilities --- */
.mt-xxs     { padding-top: var(--space-xxs); }
.mt-xs      { padding-top: var(--space-xs); }
.mt-s       { padding-top: var(--space-s); }
.mt-m       { padding-top: var(--space-m); }
.mt-l       { padding-top: var(--space-l); }
.mt-xl      { padding-top: var(--space-xl); }
.mt-xxl     { padding-top: var(--space-xxl); }
.mt-section { padding-top: var(--space-section); }

/* --- Bottom Padding Utilities --- */
.mb-xxs     { padding-bottom: var(--space-xxs); }
.mb-xs      { padding-bottom: var(--space-xs); }
.mb-s       { padding-bottom: var(--space-s); }
.mb-m       { padding-bottom: var(--space-m); }
.mb-l       { padding-bottom: var(--space-l); }
.mb-xl      { padding-bottom: var(--space-xl); }
.mb-xxl     { padding-bottom: var(--space-xxl); }
.mb-section { padding-bottom: var(--space-section); }