
/* -------- AEM EDS FOUNDATION TOKENS - EDS Compatible (Pure CSS - No SCSS) -------- */
:root {
/* -------- Font family -------- */
  --funnel-font-family: 'Funnel Sans', sans-serif;

/* -------- Colors -------- */
  --color-midnight-black: #181c23; /* Mid-night Black */
  --color-first-light-01: #282a27; /* First light 01 */
  --color-first-light-02: #444744; /* First light 02 */
  --color-first-light-03: #6d706b; /* First light 03 */
  --color-sunset-orange: #ffad28;  /* Sunset Orange */
  --color-genpact-coral: #ff4f59;  /* Genpact Coral */
  --color-sunrise-cream: #fff2df;  /* Sunrise cream */
  --color-sunrise-white: #fffaf4;  /* Sunrise white */
  --color-morning-white: #fff;  /* Morning white */

/* -------- Font weights -------- */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

/* -------- Breakpoint Tokens (Documentation + JS usage) -------- */
  --bp-phone: 320px;
  --bp-phone-lg: 375px;
  --bp-phone-xl: 472px;
  --bp-tablet: 768px;
  --bp-desktop: 1024px;
  --bp-navigation: 1085px;
  --bp-desktop-lg: 1200px;
  --bp-desktop-lg-2: 1300px;
  --bp-stat-block-wrap: 1325px;
  --bp-desktop-lg-3: 1400px;

  /* --- Fluid Spacing Scale (Mobile First Defaults) --- */
  --space-xxs: 8px;
  --space-xs: 20px;
  --space-s: 20px;
  --space-m: 30px;
  --space-l: 32px;
  --space-xl: 40px;
  --space-xxl: 96px;
  --space-section: 96px;

  /* --- Heading font (Mobile First Defaults) --- */
  --heading-xl-font-size: 48px;
  --heading-xl-line-height: 52px;
  --heading-l-font-size: 48px;
  --heading-l-line-height: 56px;
  --heading-m-font-size: 32px;
  --heading-m-line-height: 40px;
  --heading-s-font-size: 28px;
  --heading-s-line-height: 32px;
  --heading-xs-font-size: 24px;
  --heading-xs-line-height: 28px;
  --heading-xxs-font-size: 14px;
  --heading-xxs-line-height: 16px;
  --heading-stat-font-size: 64px;
  --heading-stat-line-height: 76px;

  /* --- Body font (Mobile First Defaults) --- */
  --body-xxl-font-size: 32px;
  --body-xxl-line-height: 40px;
  --body-xl-font-size: 24px;
  --body-xl-letter-spacing: 0.72px;
  --body-xl-line-height: 32px;
  --body-xl-font-weight: 300;
  --body-l-font-size: 20px;
  --body-l-letter-spacing: 0.72px;
  --body-l-line-height: 30px;
  --body-m-font-size: 20px;
  --body-m-letter-spacing: 0.6px;
  --body-m-line-height: 28px;
  --body-s-font-size: 18px;
  --body-s-letter-spacing: 0.54px;
  --body-s-line-height: 24px;
  --body-xs-font-size: 14px;
  --body-xs-letter-spacing: 0.42px;
  --body-xs-line-height: 20px;
  --body-xxs-font-size: 14px;
  --body-xxs-letter-spacing: 0.42px;
  --body-xxs-line-height: 18px;

  /* --- Label font (Mobile First Defaults) --- */
  --label-m-font-size: 20px;
  --label-m-letter-spacing: 0.6px;
  --label-m-line-height: 24px;
  --label-s-font-size: 16px;
  --label-s-letter-spacing: 0.48px;
  --label-s-line-height: 20px;
  --label-xs-font-size: 14px;
  --label-xs-letter-spacing: 0.42px;
  --label-xs-line-height: 16px;
  --label-xxs-font-size: 12px;
  --label-xxs-letter-spacing: 0.36px;
  --label-xxs-line-height: 16px;
}

/* >tablet */
@media (width >= 768px) { 
  :root {
    /* --- Heading font (Tablet) --- */
    --heading-xl-font-size: 84px;
    --heading-xl-line-height: 84px;
    --heading-l-font-size: 64px;
    --heading-l-line-height: 71px;
    --heading-m-font-size: 40px;
    --heading-m-line-height: 48px;
    --heading-s-font-size: 32px;
    --heading-s-line-height: 40px;

    /* --- Body font (Tablet) --- */
    --body-xxl-font-size: 36px;
    --body-xxl-line-height: 44px;
    --body-xl-font-size: 32px;
    --body-xl-letter-spacing: 0.96px;
    --body-xl-line-height: 40px;
    --body-l-font-size: 24px;
    --body-l-line-height: 32px;
    --body-xs-font-size: 16px;
    --body-xs-letter-spacing: 0.48px;
    --body-xs-line-height: 24px;

    /* --- Label font (Tablet) --- */
    --label-xs-line-height: 20px;

    /* --- Fluid Spacing Scale (Tablet) --- */
    --space-xxs: 10px;
    --space-s: 24px;
    --space-m: 40px;
    --space-l: 48px;
    --space-xl: 60px;
  }
}

/* >Small desktop */
@media (width >= 1025px) { 
  :root {
    --space-section: 120px;
  }
}

/* >desktop */
@media (width >= 1200px) { 
  :root {
    /* --- Heading font (Desktop) --- */
    --heading-m-font-size: 48px;
    --heading-m-line-height: 56px;
    --heading-s-font-size: 36px;
    --heading-s-line-height: 44px;
    --heading-xxs-font-size: 20px;
    --heading-xxs-line-height: 28px;
    --heading-stat-font-size: 96px;
    --heading-stat-line-height: 106px;

    /* --- Body font (Desktop) --- */
    --body-xl-font-weight: 400;
  }
}
 


